.botonEliminar{
    -fx-background-color:#FF4040;
    -fx-color:#000;
    -fx-border-color:#B71C1C;
    -fx-border-width:3;
    -fx-border-radius:5;
}

.botonEliminar:hover{
    -fx-background-color:#B71C1C;
    -fx-color:#000;
    -fx-border-color:#FF4040;
    -fx-border-width:3;
    -fx-border-radius:5;
}

.botonPedir{
    -fx-background-color:#00695C;
    -fx-color:#000;
    -fx-border-color:#004D40;
    -fx-border-width:3;
    -fx-border-radius:5;
}

.botonPedir:hover{
    -fx-background-color:#004D40;
    -fx-color:#000;
    -fx-border-color:#00695C;
    -fx-border-width:3;
    -fx-border-radius:5;
}

.botonRecargar{
    -fx-background-color:#FFA726;
    -fx-color:#000;
    -fx-border-color:#EF6C00;
    -fx-border-width:3;
    -fx-border-radius:5;
}

.botonRecargar:hover{
    -fx-background-color:#EF6C00;
    -fx-color:#000;
    -fx-border-color:#FFA726;
    -fx-border-width:3;
    -fx-border-radius:5;
}

.fondo{
    -fx-background-color:#FFF9C4;
}

.tablaP{
    -fx-background-color:#ffeb3b;
    -fx-color:#FFF;
    -fx-border-color:#ffd600;
    -fx-border-width:3;
    -fx-border-radius:5;
}

