body {
    background: url(fondo.jpg);
}
/*CONTENEDOR*/
#contenedor {
    width: 1400px; 
    height: 1400px; 
    margin: 20px auto;
    background: url(rosaMinimalistaGiradaReducida.jpg);
    border: 7px solid #DCD3FF; 
    border-radius: 60px;
    position: relative;
}
#cabecera {
    width: 1200px; 
    height: 275px; 
    margin: 30px 92px 0 92px; 
    background: #C5A3FF;
    border-radius: 60px;
    position: relative;
    float: left;
}
#cabecera #logo {
    margin-top: 50px;
    font-size: 150px; 
    position: absolute; 
}
#cabecera #logo a{
    color: #191919;
    text-decoration: none; 
    font-style: italic; 
    font-family: "Times New Roman";
}
/*MENU*/
#menu {
    width: 1200px; 
    height: 120px; 
    margin: 10px 100px;
    float: left;
}
#menu table tr th {
    border: 7px solid #DCD3FF;
    border-radius: 60px; 
    width: 210px; 
    height: 120px; 
    text-align: center; 
    background: #FFF8E7;
}
#menu table tr th a{
    color: black; 
    text-decoration: none; 
    font-family: "Calibri";
    font-size: 30.5px;
}
#menu table th:hover {
    background: #FBE4FF;
}
#menu table #losAngeles:hover {
    background: #FFF;
}
#menu table #elMal:hover {
    background: #FFF;
}
#menu table #motomami:hover {
    background: #FFF;
}
#menu table th a:hover {
    color: #FAFBFC;
}      
#menu table a img{
    border-radius: 54.25px;
}
/*CONTENIDO*/
#contenido {
    width: 1200px; 
    height: 810px; 
    margin: 40px 92px 0 auto;
    border: 7px solid #DCD3FF;
    background: #FFF8E7;
    font-family: "Calibri";
    font-size: 20px;
    overflow: auto;
    border-radius: 25px;
    position: relative;
    float: right
}
/*PIE*/
#pie {
    width: 1200px; 
    height: 47px; 
    float: left; 
    border: 7px solid #DCD3FF;
    font-family: "Calibri";
    font-weight: bolder;
    margin: 7px; 
    margin-left: 92px; 
    background: #FFF8E7;
    border-radius: 25px;
    position: relative;
}