.botonesGanador{
    -fx-background-color:#FF4040;
    -fx-color:#000;
    -fx-border-color:#B71C1C;
    -fx-border-width:3;
    -fx-border-radius:7px;
    -fx-background-radius: 10px;
} 

.botonesGanador:hover{
    -fx-background-color:#B71C1C;
    -fx-border-color:#FF4040;
 }
 
 .botonSalir{
    -fx-background-color:#FFA726;
    -fx-color:#000;
    -fx-border-color:#EF6C00;
    -fx-border-width:3;
    -fx-border-radius:7px;
    -fx-background-radius: 10px;
}

.botonSalir:hover{
    -fx-background-color:#EF6C00;
    -fx-border-color:#FFA726;
}