.botonPunyo {
    
   -fx-background-image: url(../streetFighterImagenes/punyetazoRojo.png);
   -fx-background-repeat: no-repeat; 
   -fx-background-color: transparent;
   -fx-background-size: 74 75; 
   -fx-background-position: center center;
  
   
}
.botonPatada {
   
   -fx-background-image: url(../streetFighterImagenes/pieBlanco.png);
   -fx-background-repeat: no-repeat; 
   -fx-background-color: transparent;
   -fx-background-size: 48 100; 
   -fx-background-position: center center;
  
}
.botonEspecial {
   -fx-background-image: url(../streetFighterImagenes/bomba.png);
   -fx-background-repeat: no-repeat; 
   -fx-background-color: transparent;
   -fx-background-size: 130 100; 
   -fx-background-position: center center;
}

.progressAzul {
    -fx-accent: #00B0FF;
}
.progressRojo {
    -fx-accent: #DD2C00;
}

.indicador {
    -fx-accent: #00C853;
}