@font-face {
  font-family: 'MuseoModerno';
  src: url('./fonts/MuseoModerno-Regular.eot');
  src: url('./fonts/MuseoModerno-Regular.eot?#iefix') format('embedded-opentype'),
      url('./fonts/MuseoModerno-Regular.woff2') format('woff2'),
      url('./fonts/MuseoModerno-Regular.woff') format('woff'),
      url('./fonts/MuseoModerno-Regular.ttf') format('truetype'),
      url('./fonts/MuseoModerno-Regular.svg#MuseoModerno-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header, nav {
  position: absolute;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}

ul {
  position: relative;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.spanHome, .spanRanking, .spanRules, .spanLogIn, .spanSignUp, .divLanguage{
  position: absolute;
  height: 72px;
  width: 170px;
}

.spanHome {
  left: 10px;
}

.spanRanking {
  left: 150px;
}

.spanRules {
  left: 320px;
}

a {
  position: absolute;
  width: 170px;
  height: 72px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.iconoSpan {
  width: 24px;
  height: 24px;
  margin-left: 9px;
}

.svgMenu {
  fill: #57A4FF;
}

.svgLogin, .svgLogout {
  stroke: #57A4FF;
}

.textHeader,.textLog {
  font-family: 'MuseoModerno';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #57A4FF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textHeader {
  margin-left: 16px;
}

.title {
  width: fit-content;
  font-family: 'MuseoModerno';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #57A4FF;
  letter-spacing: 0.5px;
  margin-top: 12px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.divLogIn {
  position: absolute;
  z-index: 2;
}

.textLog {
  position: relative;
}

.divLanguage {
  right: 150px;
}

.spanHome:hover .svgMenu{
  fill: #1e5aad;
}

.spanHome:hover .textHeader {
  color: #1e5aad;
}

.spanRanking:hover .svgMenu {
  fill: #1e5aad;
}

.spanRanking:hover .textHeader {
  color: #1e5aad;
}

.spanRules:hover .svgMenu{
  fill: #1e5aad;
}

.spanRules:hover .textHeader {
  color: #1e5aad;
}

.spanLogIn:hover .svgLogin {
  stroke: #1e5aad;
}

.spanLogIn:hover .svgLogout {
  stroke: #1e5aad;
}

.spanLogIn:hover .textLog {
  color: #1e5aad;
}

.svgLogin, .svgLogout {
  display: none;
}


.languageButton, .buttonChangeLang {
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  gap: 10px;

  width: 95px;
  height: 45px;

  background: #FFFFFF;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'MuseoModerno';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.5px;
  z-index: 1;
  color: #415856;
}

.idiomaBoton{
  color: #415856;
}

.divInicio,.divRanking,.divRules {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 1000px;
  top: 72px;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #5899e2 74%);
}

.sky {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.svgCloud {
  position: relative;
  right: 275px;
}

.svgSquare {
  position: relative;
}

.svgFly {
  position: relative;
  left: 200px;
  margin-top: 90px;
}

.charactersSnow {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  top: 5px;
}

.svgSnowman {
  position: relative;
  top: 136px;
  right: 150px;
}

.svgCharacterBlue {
  position: relative;
  top: 6px;
}

.svgCharacterSteel {
  position: relative;
  margin-top: 136px;
  left: 150px;
}

.svgSnowflake {
  position: relative;
  top: 186px;
  left: 170px;
}

.snowLandscape {
  position: relative;
  margin: 0 auto;
  margin-top: 5px;
}

.botonDescargar {
  position: absolute;
  top: 50px;
  left: 45.25%;
  width: 182px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: none;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.svgDownload {
  margin-left: 10px;
}

.textDownload {
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin-left: 50px;
  font-family: 'MuseoModerno';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: #57A4FF;
}

.divTopTen {
  position: relative;
  width: 1140px;
  height: 705px;
  top: 80px;
  margin: 0 auto;
  background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(0,0,0,1) 0%, rgba(0,31,71,1) 100.2% );
  box-shadow: 0 28px 16px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  text-align: center;
}

.titleTopTen {
  position: relative;
  margin-top: 20px;
  font-family: 'MuseoModerno';
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.divTable {
  position: relative;
  margin: 0 auto;
  margin-top: 0;
  width: 950px;
  height: fit-content;
  background-color: #98AFC7;
  border-radius: 10px;
}

.contentTable {
  position: relative;
  width: 100%;
  height: fit-content;
  border-collapse: collapse;
  margin: 25px 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  min-width: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.contentTable thead th {
  background-color: #98AFC7;
  color: yellow;
  text-align: center;
}

.contentTable th, .contentTable td {
  padding: 12px 15px;
}

.contentTable tbody tr {
  background-color: #98AFC7;
  color: #FFFFFF;
}

.contentTable tbody tr:hover {
  color: #57A4FF;
}

.divCloseMap {
  position: relative;
  margin: 0 auto;
}

.closeMap {
  width: 667px;
  height: 865px;
}

#click-event {
  display: none;
}

.openMap {
  position: absolute;
  left: -46%;
  top: 0;
  width: 0;
  height: 865px;
  transition: all .5s ease-out;
}

#click-event:checked ~ .openMap{
  width: 1281px;
  z-index: 1;
}

.divInstructions {
  position: absolute;
  width: 800px;
  height: 480px;
  display: flex;
  top: 200px;
  left: -80px;
  z-index: 1;
}

@keyFrames typing {
  
  from { width: 0}
}

@keyFrames blink {
    0% { border-color: transparent}
  }

.textIntructions1, .textIntructions2, .textIntructions3, .textIntructions4, .textIntructions5, .textIntructions6, .textIntructions7, .textIntructions8 {
  font-family: 'MuseoModerno';
  font-size: 30px;
  font-weight: bolder;
  white-space: nowrap;
  border-right: 4px solid;
  width: 13ch;
  animation: typing 2s steps(12), blink .5s infinite step-end alternate;
  overflow:hidden;
  }

  .textIntructions2, .textIntructions3, .textIntructions4, .textIntructions5, .textIntructions6, .textIntructions7, .textIntructions8 {
    font-size: 20px;
    font-weight: 400;
  }

.textIntructions2 {
  width: 52ch;
  animation: typing 10s steps(52), blink .5s infinite step-end alternate;
}

.textIntructions3 {
  width: 51ch;
  animation: typing 10s steps(51), blink .5s infinite step-end alternate;
}

.textIntructions4 {
  width: 30ch;
  animation: typing 8s steps(30), blink .5s infinite step-end alternate;
}

.textIntructions5 {
  width: 60ch;
  animation: typing 10s steps(60), blink .5s infinite step-end alternate;
}

.textIntructions6 {
  width: 60ch;
  animation: typing 10s steps(60), blink .5s infinite step-end alternate;
}

.textIntructions7 {
  width: 60ch;
  animation: typing 10s steps(60), blink .5s infinite step-end alternate;
}

.textIntructions8 {
  width: 54ch;
  animation: typing 10s steps(54), blink .5s infinite step-end alternate;
}
  
.divAlert {
  position: absolute;
  width: 175px;
  height: 98px;
  margin-top: -450px;
  margin-left: 234px;
  display: none;
}

.divCloseMap:hover .divAlert {
  display: block;
}

.triangulo-redondeado,
.triangulo-redondeado:before,
.triangulo-redondeado:after {
  position: relative;
  display:block;
  margin: 0 auto;
	width:  27px;
	height: 27px;
	background: #434343;
	border-top-right-radius: 13.5px;
}
.triangulo-redondeado {
  margin: 15px auto 0 auto;
  transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangulo-redondeado:before,
.triangulo-redondeado:after {
	content: '';
	position: absolute;
}
.triangulo-redondeado:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangulo-redondeado:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.divMessage {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 70px;
  top: -30px;
  background-color:#434343;
  text-align: center;
  border-radius: 10px;
}

.messageAlert {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  color: #F3F3F3;
  top: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.divPie {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.divContentFooter {
  width: 700px;
  display: flex;
  flex-direction: column;
}

.textTFG {
  font-family: 'MuseoModerno', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  color: #FFF;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textNombres {
  font-family: 'MuseoModerno', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.svgBloque1 {
  position: relative;
  right: 200px;
}

.svgBloque2 {
  position: relative;
  left: 200px;
}

@media screen and (max-width: 1920px) {

  .snow1, .snow2, .snow3, .snow4, .snow5, .snow6, .snow7, .snow8, .snow9, .snow10 {
    width: 10%;
  }

  .svgSnowman {
    margin-right: 90px;
  }

  .svgSnowflake {
    margin-left: 0;
  }
  
}

@media screen and (max-width: 1730px) {

  .svgSnowflake {
    display: none;
  }

  .snow1, .snow2, .snow3, .snow4, .snow5, .snow6, .snow7, .snow8, .snow10 {
    width: 11.1%;
  }

  .snow9 {
    display: none;
  }
  
}

@media screen and (max-width: 1540px) {

  .snow8 {
    display: none;
  }

  .svgCloud {
    right: 150px;
  }

  .svgSnowman {
    right: 30px;
  }

  .svgCharacterSteel {
    left: 100px;
  }

  .snow1, .snow2, .snow3, .snow4, .snow5, .snow6, .snow7, .snow10 {
    width: 12.5%;
  }

}

@media screen and (max-width: 1350px) {

  .svgCloud, .svgSnowman, .snow7 {
    display: none;
  }

  .svgFly {
    left: 275px;
  }

  .svgCharacterBlue {
    right: 150px;
  }

  .snow1, .snow2, .snow3, .snow4, .snow5, .snow6, .snow10 {
    width: 14.27%;
  }

  #click-event:checked ~ .openMap{
    width: 1110px;
    left: -33%;
  }

  .svgBloque1 {
    right: 100px;
  }
  
  .svgBloque2 {
    left: 100px;
  }

}

@media screen and (max-width: 1280px) {

  ul {
    justify-content: flex-end;
  }

  .spanHome, .spanRanking, .spanRules, .spanMenu, .spanLogIn{
    width: 53px;
  }

  .spanRanking{
    left: 63px;
  }

  .spanRules{
    left: 122px;
  }

  .svgLogin, .svgLogout {
    display: block;
    position: relative;
    left: 19px;
  }

  .divLanguage {
    width: 100px;
    right: 66px;
  }
  
  a {
    width: 50px;
  }

  .textHeader, .textLog {
    display: none;
  }

  .title {
    position: relative;
    width: 347px;
    right: 179px;
  }

  .divTopTen {
    width: 90%;
  }

  .divTable {
    width: 90%;
  }

}

@media screen and (max-width: 1200px) {
  #click-event:checked ~ .openMap{
    width: 850px;
    left: -14.5%;
  }

  .divInstructions {
    width: 700px;
    height: 370px;
    top: 240px;
    left: 20px;
  }

  .textIntructions1 {
    font-size: 26px;
  }

  .textIntructions2, .textIntructions3, .textIntructions4, .textIntructions5, .textIntructions6, .textIntructions7, .textIntructions8  {
    font-size: 16px;
  }
  
}

@media screen and (max-width: 1165px) {

  .svgCharacterBlue {
    top: 32px;
    right: 50px;
  }

  .svgCharacterSteel {
    margin-top: 162px;
  }

  .svgFly {
    left: 100px;
  }

  .svgSquare {
    right: 100px;
  }

  .snow6 {
    display: none;
  }

  .snow1, .snow2, .snow3, .snow4, .snow5, .snow10 {
    width: 16.65%;
  }
  
}

@media screen and (max-width: 1150px){

  .svgBloque1 {
    right: 50px;
  }
  
  .svgBloque2 {
    left: 50px;
  }

}

@media screen and (max-width: 1050px){
  .divPie{
      display: flex;
      flex-direction: column;
      height: 500px;
      align-items: center;
  }

  .svgBloque1 {
    right: 0;
    bottom: 25px;
  }
  
  .svgBloque2 {
    left: 0;
    top: 25px;
  }

}

@media screen and (max-width: 970px) {

  .svgCharacterSteel {
    left: 20px;
  }

  .svgCharacterBlue {
    left: 10px;
  }

  .snow5 {
    display: none;
  }

  .snow1, .snow2, .snow3, .snow4, .snow10 {
    width: 20%;
  }

  
  .closeMap {
    width: 550px;
  }

  #click-event:checked ~ .openMap{
    width: 750px;
    left: -18.5%;
  }

  .divAlert {
    left: -10%;
  }

  .divInstructions {
    width: 615px;
    left: -17px;
    height: 355px;
    top: 255px;
  }

  .textIntructions1 {
    font-size: 25px;
  }

  .textIntructions2, .textIntructions3, .textIntructions4, .textIntructions5, .textIntructions6, .textIntructions7, .textIntructions8 {
    font-size: 15px;
  }
  
}

@media screen and (max-width: 825px) {

  .titleTopTen {
    font-size: 35px;
  }
  
}

@media screen and (max-width: 780px) {

  .svgSquare {
    width: 215px;
    height: 215px;
  }

  .svgFly {
    width: 190px;
    height: 190px;
  }

  .svgCharacterBlue {
    width: 350px;
    height: 350px;
    top: 52px;
  }

  .svgCharacterSteel {
    width: 240px;
    height: 240px;
    
  }

  .snow4 {
    display: none;
  }

  .snow1, .snow2, .snow3, .snow10 {
    width: 25%;
  }
  
}

@media screen and (max-width: 785px) {

  #click-event:checked ~ .openMap{
    width: 650px;
    left: -9%;
  }

  .divInstructions {
    width: 530px;
    left: 25px;
    height: 310px;
    top: 277px;
  }

  .textIntructions1 {
    font-size: 23px;
  }

  .textIntructions2, .textIntructions3, .textIntructions4, .textIntructions5, .textIntructions6, .textIntructions7, .textIntructions8 {
    font-size: 13px;
  }

}

@media screen and (max-width: 735px) {

  .divLanguage {
    width: 70px;
    right: 68px;
  }

  .languageButton, .buttonChangeLang {
    gap: 0;
    font-size: 0;
    width: 70px;
  }

  .title {
    right: 150px;
  }

  .divContentFooter {
    width: 90%;
  }

}

@media screen and (max-width: 700px) {

  .svgFly, .svgCharacterSteel, .snow3 {
    display: none;
  }

  .svgSquare {
    right: 0;
  }

  .svgCharacterBlue {
    left: 0;
    right: 0;
  }

  .snowLandscape {
    top: 52px;
  }

  .snow1, .snow2, .snow10 {
    width: 33.2%;
  }

  .closeMap {
    width: 450px;
  }

  #click-event:checked ~ .openMap{
    width: 550px;
    left: -11%;
  }

  .divAlert {
    left: -23.1%;
  }

  .divLanguage {
    right: 54px;
  }

  .title {
    font-size: 25px;
    top: 3px;
    right: 79px;
  }

  .spanRanking {
    left: 48px;
  }

  .spanRules {
    left: 90px;
  }
    
  .divInstructions {
    width: 435px;
    left: 15px;
    height: 270px;
    top: 290px;
  }

  .textIntructions1 {
    font-size: 21px;
  }

  .textIntructions2, .textIntructions3, .textIntructions4, .textIntructions5, .textIntructions6, .textIntructions7, .textIntructions8 {
    font-size: 11px;
  }
  
}

@media screen and (max-width: 625px) {

  .divTable{
    height: fit-content;
    overflow-x: scroll;
    overflow-y: scroll;
    top: 50px;
    min-height: 110px;
    max-height: 380px;
  }

  .divTable::-webkit-scrollbar {
      width: 100%;
      height: 10px;
  }

  .divTable::-webkit-scrollbar-track {
      border-radius: 10px;
  }

  .divTable::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #616161 ;
      border: 1px solid #BDBDBD ;
  }

  .divTable::-webkit-scrollbar-thumb:hover {
      background: #424242;
  }

  .contentTable {
    margin: 0;
  }

  #click-event:checked ~ .openMap{
    width: 450px;
    left: 0;
  }

  .divInstructions {
    width: 360px;
    left: 52px;
    height: 225px;
    top: 315px;
  }

  .textIntructions1 {
    font-size: 19px;
  }

  .textIntructions2, .textIntructions3, .textIntructions4, .textIntructions5, .textIntructions6, .textIntructions7, .textIntructions8 {
    font-size: 9px;
  }
  
}

@media screen and (max-width: 580px) {

  .title {
    width: 278px;
    top: 8px;
    right: 90px;
    font-size: 20px;
  }

}

@media screen and (max-width: 535px) {

  .closeMap {
    width: 400px;
  }

  #click-event:checked ~ .openMap{
    width: 425px;
    left: -3%;
  }

  .divAlert {
    left: -32.15%;
  }

  .divInstructions {
    width: 340px;
    left: 40px;
    top: 325px;
    height: 205px;
  }

  .textIntructions1 {
    font-size: 18px;
  }

  .textIntructions2, .textIntructions3, .textIntructions4, .textIntructions5, .textIntructions6, .textIntructions7, .textIntructions8 {
    font-size: 8px;
  }
    
  
}

@media screen and (max-width: 527px) {

 .title {
  display: none;
 }
  
}

@media screen and (max-width: 470px) {

  .svgCharacterBlue {
    width: 320px;
    top: 66px;
  }

  .closeMap {
    width: 350px;
  }

  #click-event:checked ~ .openMap{
    width: 390px;
    left: -5.5%;
  }

  .divAlert {
    left: -43.5%;
  }

  .divMessage {
    width: 80%;
    height: 45px;
  }
  
  .messageAlert {
    font-size: 10px;
  }

  .divInstructions {
    width: 310px;
    left: 30px;
    height: 180px;
    top: 340px;
  }

  .textIntructions1 {
    font-size: 17px;
  }

  .textIntructions2, .textIntructions3, .textIntructions4, .textIntructions5, .textIntructions6, .textIntructions7, .textIntructions8 {
    font-size: 7px;
  }
  
}

@media screen and (max-width: 460px){

  .textNombres {
    font-size: 14px;
  }

}

@media screen and (max-width: 425px) {

  .snow2 {
    display: none;
  }

  .snow1, .snow10 {
    width: 45%;
  }

  .snow1 {
    margin-left: 5%;
  }

  .svgCharacterBlue {
    width: 290px;
    top: 82px;
  }

  .svgSquare {
    top: 35px;
  }

  .closeMap {
    width: 300px;
  }

  #click-event:checked ~ .openMap{
    width: 350px;
    left: -8.5%;
  }
 
  .divAlert {
    left: -58.85%;
  }

  .divInstructions {
    width: 250px;
    left: 15px;
    height: 170px;
    top: 338px;
  }

  .textIntructions1 {
    font-size: 16px;
  }

  .textIntructions2, .textIntructions3, .textIntructions4, .textIntructions5, .textIntructions6, .textIntructions7, .textIntructions8 {
    font-size: 7px;
  }
  
}

@media screen and (max-width: 380px) {
  #click-event:checked ~ .openMap{
    width: 300px;
    left: 0%;
  }

  .divInstructions {
    left: 26px;
  }

  .textIntructions1 {
    font-size: 15px;
  }

  .divInstructions {
    width: 235px;
    left: 36px;
    top: 345px;
    height: 160px;
  }

  .textIntructions1 {
    font-size: 14px;
  }

  .textIntructions2, .textIntructions3, .textIntructions4, .textIntructions5, .textIntructions6, .textIntructions7, .textIntructions8 {
    font-size: 6px;
  }

}

@media screen and (max-width: 355px) {

  .svgCharacterBlue {
    width: 250px;
    top: 102px;
  }

  .svgSquare {
    width: 170px;
    top: 100px;
  }
  
}

